footer.footer
	.wrapper
		.footer-cont
			.footer--left
				.policy © ООО "НИИ Педиатрии и Неврологии "Дети Индиго". Все права защищены, 2013 Все статьи и материалы сайта deti-indigo74.ru защищены авторским правом и принадлежат компании ООО "НИИ Педиатрии и Неврологии "Дети Индиго". Любое копирование и перепечатка публикаций, а также их частей строго запрещены и преследуются в соответствии с законом. При нарушении авторских и смежных прав будет открыто судебное преследование и отправлены уведомления хостинг- провайдерам для блокировки интернет-ресурсов. Cодержание сайта не является публичной офертой
				a(href="#").policy__link Политика обработки персональных данных
			.footer--right
				a(href="#").patent Патенты и лицензии
				.soc
					.soc__list
						a(href="#").soc__item.fb
						a(href="#").soc__item.vk
						a(href="#").soc__item.insta
						a(href="#").soc__item.skype
						a(href="#").soc__item.ok
				a.footer__dev(href="http://xpage.ru/" targe="_blank") Сделано&nbsp;в
					img.footer__dev-img(src="img/ico-dev.svg" alt="XPage")

.recommendation
	p Имеются противопоказания, необходима консультация специалиста




